In [1]:
##Integers 
age=35
type(age)

int

In [2]:
## floating type datatype 

width=5.25
print(width)
print(type(width))

5.25
<class 'float'>

In [3]:
name='Megha'
print(type(name))

<class 'str'>

In [4]:
bool()

False

In [5]:
a=10
b=10
print(a==b)
print(type(a==b))

True
<class 'bool'>

# Some common errors

In [6]:
result='Hello'+5
print(result)

TypeError: can only concatenate str (not "int") to str

In [7]:
#typecast

result='Hello'+str(5)
print(result)

Hello5